.auth-buttons {
    display: flex;
    flex-flow: column;
    align-items: center;

    .sign-in-button,
    .sign-up-button {
        margin-top: 26px;
        border-radius: 5px;
        cursor: pointer;
    }

    .sign-in-button,
    .sign-in-button:hover,
    .sign-up-button,
    .sign-up-button:hover {
        transition: background 200ms linear, color 200ms linear;
    }

    .sign-in-button {
        background: var(--light-color);
        color: var(--dark-color);
        padding: 6px 25px;
    }

    .sign-in-button:hover {
        border: 1px solid var(--light-color);
        background: var(--dark-color);
        color: var(--light-color);
        padding: 5px 24px;
    }

    .sign-up-button {
        border: 1px solid var(--light-color);
        padding: 5px 20px;
    }

    .sign-up-button:hover {
        background: var(--light-color);
        color: var(--dark-color);
        padding: 5px 20px;
    }
}

.light-drawer {
    .auth-buttons {
        .sign-in-button {
            background: var(--dark-color);
            color: var(--light-color);
            padding: 6px 25px;
        }

        .sign-in-button:hover {
            border: 1px solid var(--dark-color);
            background: var(--light-color);
            color: var(--dark-color);
            padding: 5px 24px;
        }

        .sign-up-button {
            border: 1px solid var(--dark-color);
            padding: 5px 20px;
        }

        .sign-up-button:hover {
            background: var(--dark-color);
            color: var(--light-color);
            padding: 5px 20px;
        }
    }
}
