@import "./themeTogglerSwitch";

.settings-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;

    .settings-body {
        max-width: 400px;
        width: inherit;

        .settings-title {
            font-size: 24px;
            text-align: center;
            margin-top: 10px;
        }

        .MuiDivider-root {
            margin: 20px 0;
        }

        .settings-content {
            .settings-item {
                display: grid;
                grid-template-columns: 2fr 1fr;

                .data {
                    display: flex;
                    align-items: center;

                    .icon {
                        svg {
                            margin-bottom: 1px;
                        }
                    }

                    .heading {
                        margin-left: 25px;
                    }
                }

                .action-container {
                    display: flex;
                    align-items: center;

                    label {
                        margin: 0 15px;
                    }
                }
            }
        }
    }
}
